 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Project</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <main class="center-top">
            <h1>Manage Project</h1>
            <p id="showMessage"></p>
            <form class="admin-form" id="editProjectForm" method="PATCH">                
                <div class="admin-form-container">
                    <div class="input-container">
                        <label class="admin-label" for="user">Assign to User</label>
                        <select
                            id="user"
                            name="user"
                            class="admin-input"
                            value=""
                        >
                        </select>
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="name">Project Title</label>
                        <input
                            class="admin-input"
                            id="name"
                            name="name"
                            type="text"
                            autocomplete="false"
                            required
                            placeholder="the name of the project"
                        />
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="url">Project Link</label>
                        <input
                            class="admin-input"
                            id="url"
                            name="url"
                            type="text"
                            autocomplete="false"
                            required
                            placeholder="enter live project url"
                        />
                    </div>
                    
                    <div class="input-container">
                        <label class="admin-label" for="overview">Add a Description</label>
                        <textarea
                            class="admin-input"
                            id="overview"
                            name="overview"
                            autocomplete="false"
                            placeholder="type here what it is all about"
                            required
                        ></textarea>
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="type">Select Type of Project</label>
                        <select
                            id="type"
                            name="type"
                            class="admin-input"
                            value=""
                            required
                        >
                            <option value="">---------</option>
                        </select>
                    </div>
                    <div class="input-container">
                        <div class="admin-label">Project Ecosystems</div>
                        <div class="admin-input">
                            <div id="adminProjecoSelect"></div>
                            <button id="addProjeco" type="button" class="selected">Add Project Ecosystem</button>  
                        </div>
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="dateMvp">Date MVP completed</label>
                        <input
                            id="dateMvp"
                            type="date"
                            name="dateMvp"
                            class="admin-input"
                            value=""
                        />
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="dateProd">Date Production version live</label>
                        <input
                            id="dateProd"
                            type="date"
                            name="dateProd"
                            class="admin-input"
                            value=""
                        />
                    </div>
                    
                    <div class="input-container">                        
                        <label class="admin-label">Add Feature</label>                           
                        <div class="admin-input input-wrapper">
                            <label for="featureInput" class="sr-only">Add Feature</label>
                            <input
                                class="nested-input"
                                id="featureInput"
                                type="text"
                                autocomplete="false"
                                placeholder="click here to add feature"
                            />
                            <button class="add-button selected" id="addFeature" type="button">Add Feature</button>                       
                            <input
                                id="features"
                                name="features"
                                type="hidden"
                                autocomplete="false"
                                required
                            />
                        </div>
                    </div>
                    <div class="input-container">                        
                        <h4 class="admin-label">Feature List</h4>                           
                        <div id="featureList" class="admin-input item-list"></div>
                    </div>
                    <div class="input-container">
                        <label class="admin-label">Add Issue</label>
                        <div class="admin-input input-wrapper">
                            <label for="issueInput" class="sr-only">Add Issue</label>
                            <input
                                class="nested-input"
                                id="issueInput"
                                type="text"
                                autocomplete="false"
                                placeholder="click here to add issue"
                            />
                            <button class="add-button selected" id="addIssue" type="button">Add Issue</button>
                        </div>
                        <input
                            id="issues"
                            name="issues"
                            type="hidden"
                            autocomplete="false"
                            required
                        />
                    </div>
                    <div class="input-container">                        
                        <h4 class="admin-label">Issues List</h4>                           
                        <div id="issueList" class="admin-input item-list"></div>
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="imageAlt">Image Description</label>
                        <input
                            class="admin-input"
                            id="imageAlt"
                            name="imageAlt"
                            type="text"
                            placeholder="describe your image for screen-readers"
                        />
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="image">Update Image</label>
                        <input
                            class="file-input"
                            type="file" 
                            id="image"
                        />
                    </div>
                    <button id="imageCancel" type="button" class="hidden">Cancel Upload</button>
                    
                    <div class="input-container">
                        <canvas id="canvas" class="hidden"></canvas>
                        <img id="imageLoader" class="hidden">
                        <img id="imagePreview" class="hidden" src="" alt="This is a preview of the uploaded image">
                        <img id="currentImage" src="" alt="">
                    </div>                    
                    <button class="admin-button" type="submit">Update Project</button>
                </div>
            </form>
            <a href="/dashboard">Back to Dashboard</a></small>
        </main>
        <script type="module" src="/js/project/editProjectForm.js"></script>    
    </body>
</html>