 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Projects</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <main class="center-top">
            <h1>Select a Project to Manage</h1>
            <p id="showMessage"></p>
            <div id="adminSelect"></div>
            <small><a href="/dashboard">Back to Dashboard</a></small>
        </main>
        
        <script type="module" src="/js/project/editProject.js"></script>  
    </body>
</html>