<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Personal Profile</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <main class="center-top">
            <h1>Create Personal Profile</h1>
            <p id="showMessage"></p>
            <form class="admin-form" id="personalForm" method="POST">
                <div class="admin-form-container">
                    <div class="input-container">
                        <label class="admin-label" for="description">Add a Description</label>
                        <textarea
                            class="admin-input"
                            id="description"
                            name="description"
                            autocomplete="false"
                            required
                        ></textarea>
                    </div>
                    <small>Manage profile to add skills and social links.</small>
                    <button class="admin-button" type="submit">Create Profile</button> 
                </div>
            </form>
            <a href="/dashboard">Back to Dashboard</a></small>
        </main>
        <script type="module" src="/js/personal/addPersonal.js"></script>    
    </body>
</html>