<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Personal Profile</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <main class="center-top">
            <h1>Create Personal Profile</h1>
            <p id="showMessage"></p>
            <form class="admin-form" id="personalForm" method="POST">
                <div class="admin-form-container">
                    <div class="input-container">
                        <label class="admin-label" for="description">Add a Description</label>
                        <textarea
                            class="admin-input"
                            id="description"
                            name="description"
                            autocomplete="false"
                            required
                        ></textarea>
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="starSign">Star Sign</label>
                        <input
                            class="admin-input"
                            id="starSign"
                            name="starSign"
                            type="text"
                            autocomplete="false"
                            required
                            placeholder="enter star sign"
                        />
                    </div>  
                    <div class="input-container">
                        <label class="admin-label" for="favColor">Favorite Color</label>
                        <input
                            class="admin-input"
                            id="favColor"
                            name="favColor"
                            type="text"
                            autocomplete="false"
                            required
                            placeholder="enter favorite color"
                        />
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="imageAlt">Image Description</label>
                        <input
                            class="admin-input"
                            id="imageAlt"
                            name="imageAlt"
                            type="text"
                            placeholder="describe your image for screen-readers"
                        />
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="image">Image</label>
                        <input
                            class="file-input"
                            type="file" 
                            id="image"
                        />
                    </div>
                    <button id="imageCancel" type="button" class="hidden">Cancel Upload</button>
                    
                    <div class="input-container">
                        <canvas id="canvas" class="hidden"></canvas>
                        <img id="imageLoader" class="hidden">
                        <img id="imagePreview" class="hidden" src="" alt="This is a preview of the uploaded image">
                    </div>

                    <small>Manage profile once created to add skills and social links.</small>
                    <button class="admin-button" type="submit">Create Profile</button> 
                </div>
            </form>
            <a href="/dashboard">Back to Dashboard</a></small>
        </main>
        <script type="module" src="/js/personal/addPersonal.js"></script>    
    </body>
</html>