<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Your Profile</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <main class="center-top">
            <h1>Manage Profile</h1> 
            <p id="showMessage"></p>
            <form class="admin-form" id="editPersonalForm" method="PATCH">
                <div class="admin-form-container">
                    <div class="input-container">
                        <label class="admin-label" for="description">Edit Description</label>
                        <textarea
                            class="admin-input"
                            id="description"
                            name="description"
                            autocomplete="false"
                            required
                        ></textarea>
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="starSign">Job Role</label>
                        <input
                            class="admin-input"
                            id="jobTitle"
                            name="jobTitle"
                            type="text"
                            autocomplete="false"
                            required
                            placeholder="enter preferred job title"
                        />
                    </div>  
                    <div class="input-container">
                        <label class="admin-label">Add Attributes</label>
                        <div class="admin-input input-wrapper">
                            <label for="attributeInput" class="sr-only">Add Attribute</label>
                            <input
                                class="nested-input"
                                id="attributeInput"
                                type="text"
                                autocomplete="false"
                                placeholder="click here to add attribute"
                            />
                            <button class="add-button selected" id="addAttribute" type="button">Add Attribute</button>
                        </div>
                        <input
                            id="attributes"
                            name="attributes"
                            type="hidden"
                            autocomplete="false"
                            required
                        />
                    </div>
                     <div class="input-container">                        
                        <h4 class="admin-label">Attribute List</h4>                           
                        <div id="attributeList" class="admin-input item-list"></div>
                    </div>
                    <div class="input-container">
                        <div class="admin-label">Skills</div>
                        <div class="admin-input">
                            <div id="adminSkillSelect"></div>
                            <button id="addSkill" type="button" class="selected">Add Skill</button>  
                        </div>
                    </div>
                    
                    <div class="input-container">
                        <div class="admin-label">Links</div>
                        <div class="admin-input">
                            <div id="adminLinkSelect"></div>
                            <button id="addLink" type="button" class="selected">Add Link</button>
                        </div>
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="imageAlt">Image Description</label>
                        <input
                            class="admin-input"
                            id="imageAlt"
                            name="imageAlt"
                            type="text"
                            placeholder="describe your image for screen-readers"
                        />
                    </div>
                    <div class="input-container">
                        <label class="admin-label" for="image">Update Image</label>
                        <input
                            class="file-input"
                            type="file" 
                            id="image"
                        />
                    </div>
                    <button id="imageCancel" type="button" class="hidden">Cancel Upload</button>
                    
                    <div class="input-container">
                        <canvas id="canvas" class="hidden"></canvas>
                        <img id="imageLoader" class="hidden">
                        <img id="imageGreenPreview" class="hidden" src="" alt="This is a preview of the green uploaded image">
                        <img id="imageGrayscalePreview" class="hidden" src="" alt="This is a preview of the black and white uploaded image">
                        <img id="currentImage" src="" alt="">
                    </div>
                    
                    <button class="admin-button" type="submit">Update Profile</button>                
                </div>
            </form>
            <small><a href="/dashboard">Back to Dashboard</a></small>
        </main>
        <script type="module" src="/js/personal/editPersonalForm.js"></script>
    </body>
</html>