<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Your Profile</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <main class="center-top">
            <h1>Manage Profile</h1>
            <p id="showMessage"></p>
            <form class="admin-form" id="editPersonalForm" method="PATCH">
                <div class="admin-form-container">
                    <div class="input-container">
                        <label class="admin-label" for="description">Edit Description</label>
                        <textarea
                            class="admin-input"
                            id="description"
                            name="description"
                            autocomplete="false"
                            required
                        ></textarea>
                    </div>
                    <div class="input-container">
                        <div class="admin-label">Skills</div>
                        <div class="admin-input">
                            <div id="adminSkillSelect"></div>
                            <button id="addSkill" type="button" class="selected">Add Skill</button>  
                        </div>
                    </div>
                    
                    <div class="input-container">
                        <div class="admin-label">Links</div>
                        <div class="admin-input">
                            <div id="adminLinkSelect"></div>
                            <button id="addLink" type="button" class="selected">Add Link</button>
                        </div>
                    </div>
                    
                    <button class="admin-button" type="submit">Update Profile</button>                
                </div>
            </form>
            <small><a href="/dashboard">Back to Dashboard</a></small>
        </main>
        <script type="module" src="/js/personal/editPersonalForm.js"></script>
    </body>
</html>