<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique User ID</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <div class="centered">
            <h1>Unique User ID</h1>
            <h2 id="userid"></h2>
            <a href="/dashboard">Back to Dashboard</a></small>
        </div>    
    </main>
    <script type="module" src="/js/personal/uniqueid.js"></script> 
</body>
</html>