<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Messages</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main class="center-top">
        <h1>View Messages</h1>
        <p id="showMessage"></p>
        <div id="messages-container">


        </div>
        <a href="/dashboard">Back to Dashboard</a></small>
    </main>
    <script type="module" src="/js/personal/viewMessages.js"></script> 
</body>
</html>