@font-face {
  font-family: valorax;
  src: url("../fonts/Valorax-lg25V.otf");
}
body {
    font-family: valorax;
    background-color: #000;
    color: rgb(89, 255, 47);
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: rgb(209, 238, 208);
    text-decoration: underline;
}

button.unstyled-button {
  all: unset;
  display: inline;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

#canvas {
    object-fit: cover;
    width:300px;
    height:300px;
}

.hidden {
    display: none;
}
.block {
    display: block;
}
.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

#showMessage {
    margin:0 0 20px 0;
    padding:0;
    display:none;
}

.error {
    color: rgb(87, 114, 84);
}

.success {
    color: rgb(209, 238, 208);
}

.centered {
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content: center;
    min-height: 90dvh;
    margin-bottom: 50px;
}

.center-top{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 90dvh;
    margin-bottom: 50px;
    
}


.admin-section-options {
    padding-left:50px;
}

.admin-options-group {
    line-height: 0;
    margin-bottom:35px;
}

#adminSelect {
    margin-bottom: 35px;
}
#adminSelect h4 {
    display:flex;
    margin: 7px;
    align-items:center;
}
.admin-icon:hover {
  color: white;
  text-decoration: underline;
}


/*form styling*/
form {
    width:100%;
}

.admin-form-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display:flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

.input-container textarea {
    height: 15vh;
}

.admin-label {
    width: 30%;
}

.roles-container, #buttonsContainer  {
    width: 60%;
}
.admin-input {
    background-color:rgb(1, 27, 4);
    border: 1px solid rgb(0, 73, 9);
    color:rgb(89, 255, 47);
    width:60%;
    padding: 5px;
}

.admin-input:focus {
    outline:rgb(89, 255, 47) 1px solid;
}

.admin-button {
    font-size: 1.5em;
    color:rgb(89, 255, 47);
    border: rgb(0, 73, 9) 2px solid;
    background-color:rgb(1, 27, 4); 
    padding: 10px 20px;
    margin: 15px 0 25px 0;
    font-family: valorax;
    cursor: pointer;
}

.admin-button:hover {
    color:rgb(1, 27, 4);
    border: rgb(0, 73, 9) 2px solid;
    background-color:rgb(89, 255, 47);
}

/*SELECTOR BUTTONS*/
#buttonsContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 0 5px;
}

#buttonsContainer button {
    width:100px;
    margin: 2px;
}
.deselected {
    color:rgb(89, 255, 47);
    border: rgb(0, 73, 9) 2px solid;
    background-color:rgb(1, 27, 4); 
    font-family: valorax;
    cursor: pointer;
}
.deselected:hover, .selected:hover, .delete-button:hover {
    background-color: rgb(0, 73, 9);
}

.selected {
    font-family: valorax;
    color:rgb(1, 27, 4);
    border: rgb(0, 73, 9) 2px solid;
    background-color:rgb(89, 255, 47);
    cursor: pointer;
}

.delete-button {
    margin-left:20px;
    color:rgb(89, 255, 47);
    border: rgb(0, 73, 9) 2px solid;
    background-color:rgb(1, 27, 4);
    cursor: pointer;
}

#imagePreview, #currentImage {
    width:250px;
    border: rgb(0, 73, 9) 2px solid;
}

.file-input {
    width:60%;
    margin:5px;
}

input[type="file"]::file-selector-button {
    color:rgb(89, 255, 47);
    border: rgb(0, 73, 9) 2px solid;
    background-color:rgb(1, 27, 4);
    cursor: pointer;
    font-family: valorax;
    font-size: 0.8em;
}

input[type="file"]::file-selector-button:hover, #imageCancel:hover {
    background-color: rgb(0, 73, 9);
}

input[type="file"]::file-selector-button {
    margin-right: 20px;
    padding:4px;
}

#imageCancel {
    background-color:rgb(89, 255, 47);
    border: rgb(0, 73, 9) 2px solid;
    color:rgb(1, 27, 4);
    padding: 4px 10px;
    margin-top: 10px;
    margin-bottom: 25px;    
    font-family: valorax;
    cursor: pointer;   
}

#editPersonalForm .admin-button {
    margin-top: 25px;
}

#addSkill, #addLink, .add-button, #addProjeco {
    width:100%;
    margin-top: 10px;
}

#adminLinkSelect h4, #adminSkillSelect h4 {
    margin: 5px 0;
}

select {
    margin: 0 12px 0 0px;
}

#ecoContainer, #techContainer, #userSelect {
    display:none;
}



.select-selector {
    margin-bottom: 30px;
}

.select-selector button {
    padding: 10px;
}

.nested-input {
    border: none;
    outline: none;
    background-color:rgb(1, 27, 4);
    color:rgb(89, 255, 47);
    width:55%;
    padding: 0 0 10px 5px;
}

.sr-only {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0,0,0,0); 
  border: 0;
}

.project-listing {
    display:block;
}

