<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Role</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main class="center-top">
        <h1>Select a role to update</h1>
        <p id="showMessage"></p>
        <div id="adminSelect"></div>
        <small><a href="/dashboard">Back to Dashboard</a></small>
    </main>
    
    <script type="module" src="/js/user/editRole.js"></script>  
</body>
</html>