<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RowlandNet Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main class="center-top">
        <h1>Select a section to update</h1>
        <p id="showMessage"></p>
        <div class="admin-sections">
            <div class="admin-section">
                <div class="admin-section-title">
                    <h2>
                        <button
                            class="admin-icon unstyled-button"
                            data-section="user"
                            id="user-options"
                            aria-expanded="false"
                            aria-controls="userSection"
                        >
                            &rrarr;
                        </button>
                        &nbspUsers
                    </h2>
                </div>
                <div class="admin-section-options hidden" id="userSection">
                    <div class="admin-options-group">
                        <h4><a href="/dashboard/user">&rarr;&nbsp&nbspAdd User</a></h4>
                        <h4><a href="/dashboard/user/edit">&rarr;&nbsp&nbspEdit User</a></h4>
                    </div>
                    <div class="admin-options-group">
                        <h4><a href="/dashboard/user/role">&rarr;&nbsp&nbspAdd Role</a></h4>
                        <h4><a href="/dashboard/user/role/edit">&rarr;&nbsp&nbspEdit Role</a></h4>
                    </div>
                </div>
            </div>
            
            <div class="admin-section">
                <div class="admin-section-title">
                    <h2>
                        <button
                            class="admin-icon unstyled-button"
                            data-section="pers"
                            id="pers-options"
                            aria-expanded="false"
                            aria-controls="userSection"
                        >
                            &rrarr;
                        </button>
                        &nbspPersonal
                    </h2>
                </div>
                <div class="admin-section-options hidden" id="persSection">
                    <div class="admin-options-group">
                        <h4 id="createProfile"><a href="/dashboard/personal">&rarr;&nbsp&nbspCreate Profile</a></h4>
                        <h4 id="manageProfile"><a href="/dashboard/personal/edit">&rarr;&nbsp&nbspManage Profile</a></h4>
                    </div>
                    <div class="admin-options-group">
                        <h4><a href="/dashboard/personal/messages">&rarr;&nbsp&nbspView Messages</a></h4>
                    </div>

                </div>
            </div>

            <div class="admin-section">
                <div class="admin-section-title">
                    <h2>
                        <button
                            class="admin-icon unstyled-button"
                            data-section="proj"
                            id="proj-options"
                            aria-expanded="false"
                            aria-controls="userSection"
                        >
                            &rrarr;
                        </button>
                        &nbspProjects
                    </h2>
                </div>
                <div class="admin-section-options hidden" id="projSection">
                    <div class="admin-options-group">
                        <h4><a href="#">&rarr;&nbsp&nbspAdd Project</a></h4>
                        <h4><a href="#">&rarr;&nbsp&nbspEdit Project</a></h4>
                    </div>
                    <div class="admin-options-group">
                        <h4><a href="#">&rarr;&nbsp&nbspAdd Project Type</a></h4>
                        <h4><a href="#">&rarr;&nbsp&nbspEdit Project Type</a></h4>
                    </div>
                </div>
            </div>
            <div class="admin-section">
                <div class="admin-section-title">
                    <h2>
                        <button
                            class="admin-icon unstyled-button"
                            data-section="tech"
                            id="tech-options"
                            aria-expanded="false"
                            aria-controls="userSection"
                        >
                            &rrarr;
                        </button>
                        &nbspTechnologies
                    </h2>
                </div>
                <div class="admin-section-options hidden" id="techSection">
                    <div class="admin-options-group">
                        <h4><a href="#">&rarr;&nbsp&nbspAdd Tech Ecosystem</a></h4>
                        <h4><a href="#">&rarr;&nbsp&nbspEdit Tech Ecosystems</a></h4>
                    </div>
                    <div class="admin-options-group">
                        <h4><a href="#">&rarr;&nbsp&nbspAdd a Technology</a></h4>
                        <h4><a href="#">&rarr;&nbsp&nbspEdit Technologies</a></h4>
                    </div>
                    <div class="admin-options-group">
                        <h4><a href="#">&rarr;&nbsp&nbspAdd Ecosystem Type</a></h4>
                        <h4><a href="#">&rarr;&nbsp&nbspEdit Ecosystem Types</a></h4>
                    </div>
                    <div class="admin-options-group">
                        <h4><a href="#">&rarr;&nbsp&nbspAdd Technology Type</a></h4>
                        <h4><a href="#">&rarr;&nbsp&nbspEdit Technology Types</a></h4>
                    </div>
                </div>
                </div>
            </div>
        
        </div>
        <button class="admin-button" type="button" id="logout">Log Out</button>
        <small><a href="#">change password</a></small>
        <script type="module" src="/js/root/dashboard.js"></script>  
    </main>  
</body>
</html>