<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In to RowlandNet</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main class="centered">
        <h1>Master, we have been expecting you</h1>
        <p id="showMessage"></p>
        <form class="admin-form" id="loginForm" method="POST">
            <div class="admin-form-container">
                <div class="input-container">
                    <label class="admin-label" for="email">e-mail</label>
                    <input
                        class="admin-input"
                        id="email"
                        name="email"
                        type="text"
                        autocomplete="false"
                        required
                    />
                </div>
                <div class="input-container">
                    <label class="admin-label" for="password">password</label>
                    <input
                        class="admin-input"
                        id="password"
                        name="password"
                        type="password"
                        required
                    />
                </div>
                <button class="admin-button" type="submit">Log In</button>
                
            </div>
        </form>
        <small><a href="#">forgotten password?</a></small>
    </main>
    <script type="module" src="/js/root/auth.js"></script>    
</body>
</html>